@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Fixes unreadable autofill text in Chrome/Safari */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #ffffff inset !important;
    -webkit-text-fill-color: #444444 !important;
  }
}